@import url('main.css');

/*  banner  */
.banner {
    min-height: 40vh;
    margin: 10vh 0rem 2rem;
    width: 100%;
    padding: 5%;
    color: #eee;
    background: url('../images/banners/inf-banner.jpg') no-repeat fixed center / cover;
}

.banner > div > h1,
.banner > div > p {
    color: #ddd
}
.banner > .section > p {
    font-size: 1.1em;
    text-align: center;
}


.about-wrapper {
    max-width: var(--max-width);
    width: 96%;
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: .75rem;
}

.about-wrapper > * {
    width: 98%;
    margin: auto;
    box-shadow: 1px 1px 6px #ccc;
    padding: 2%;

}

.about {
    margin-top: 4%;
}


.comment-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.comments {margin: 10% 4%;}


.comment {
    padding: .5rem .75em;
    margin: .25rem auto;
    background-color: var(--blue-violet);
    border-radius: .8em;
}
.comments > div > a {
    margin-top: 1.5rem;
}
.comm-time {
    font-size: .75em;
    text-align: end;
}
.comment h3 {
    text-align: start;
    font-size: 1.2em;
    margin: .25em;
    font-weight: 500;
}



.galery-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

.galery-wrap img {
    border-radius: var(--card-radius);
}




@media screen and (min-width: 768px) {

    .about-wrapper {
        padding: 1% 0 5%;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .about-wrapper > * {
        width: 31.5%;
        min-height: 20rem;
        height: 100%;
        margin: 0 auto;
    }
    

    .comments {margin: 6% auto; max-width: var(--max-width);}
    .comment-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }


    .galery-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
    .galery-wrap > figure {
        height: 100%;
        max-height: 360px;
    }

    .col-1 {
        grid-column: 1 / span 2;
    }
    .col-2 {
        grid-row: 1 / span 3;
        grid-column: 3;
    }
    .row-2 {
        grid-row: 2;
        grid-column: 1;
    }
    .row-3 {
        grid-row: 2;
        grid-column: 2 / span 2;
    }
}
