@import 'base.scss';


/* Forms */ 
.form__wrapper {
    display: grid;
    margin: 15% auto;
    gap: 1rem;    
    width: 90%;
    padding: 2rem;

    .form__side {
        color: var(--primary-title);
        font-size: clamp(1.2rem, 1.2rem + 1vw, 3.5rem);
        margin-bottom: 2rem;
    }

    form {
        color: var(--secondary-title);
        
        h1 {
            font-size: clamp(1.6rem, 1.5rem + 2vw, 4rem);
            margin-bottom: 2.5rem;
        }

        .category__selector {
            select {
                min-width: 50%;
                padding: .6rem;
                color: var(--secondary-bg);
                border-radius: var(--radius);
                border: none;
            }
            a { 
                color: var(--secondary-title);
                background: var(--primary-bg);
                font-weight: 500;
                box-shadow: var(--shadow);
            }
        }
 
        
        label {
            display: block;
            margin-bottom: 1rem;
            font-weight: 600;

            input, textarea {
                width: 100%;
                font-size: 1rem;
                margin: .5rem 0;
                padding: .5rem 1rem;
                color: var(--secondary-dark-color);
                border-radius: var(--radius);
                border: none;
            }
        }
        .input__group {
            gap: 1rem;
            margin: 1rem 0;
            
            span { opacity: .6; }
            a { 
                text-decoration: underline; 
                color: var(--primary-title);
                opacity: .6;
            }
        }

        .submit-btn {
            color: var(--secondary-bg);
            background: var(--secondary-title);
            margin: 1rem 0;
        }

    }
    
}





@media screen and ( min-width: 768px ) {
    .form__wrapper {
        margin-top: 10%;
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);

        .form__side {
            justify-content: center;
            border-right: 4px solid #d8dee910;
            margin: 0;

            h1 { 
                max-width: 12rem; 
                margin: auto;
            }

        }
        form { 
            margin-left: 1rem;

            .input__group {
                display: block;
            }
            .flex__group {
                display: flex;
            }
        }
        .create__form { margin-left: 0; }

        .create__form {
            grid-column: 1 / 3;
        }
    }
}

@media screen and (min-width: 950px ) {
    .form__wrapper { 
        padding: 4rem; 
        form { 
            margin-left: 3rem; 
            .input__group {
                display: flex;
            }
        }
    }
}
