:root {
  font-size: clamp(14px, 12px + 1vw, 16px);
  --primary-bg: #2e3440;
  --secondary-bg: #3b4252;
  --primary-dark-color: #434c5e;
  --secondary-dark-color: #4c566a;
  --primary-title: #d8dee9;
  --secondary-title: #e5e9f0;
  --primary-body-color: #eceff4;
  --secondary-body-color: #f1f4f8;
  --max-width: 64rem;
  --flex-gap: 1rem;
  --radius: .25rem;
  --shadow: 0 4px 25px #00000015;
  --transition: all .5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--secondary-bg), var(--primary-bg));
  position: relative;
}

.size__control {
  max-width: var(--max-width);
  margin: auto;
  width: 90%;
}

.section__wrapper {
  background: var(--secondary-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  font-size: 1rem;
  font-weight: 600;
}

.flex__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--flex-gap);
}

header {
  padding: 1.5rem 0;
  min-height: 3rem;
  box-shadow: var(--shadow);
  background: var(--secondary-bg);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 4rem;
}
header .main__nav .logo {
  font-size: clamp(2.4rem, 2rem + 2vw, 3.2rem);
  color: var(--primary-title);
  position: relative;
}
header .main__nav .search__form {
  display: inline-flex;
  padding: 0.2rem 0.5rem;
  background: var(--primary-body-color);
  border-radius: var(--radius);
  width: 30%;
  overflow-x: hidden;
  transition: var(--transition);
}
header .main__nav .search__form > * {
  background: var(--primary-body-color);
  border: none;
  outline: none;
}
header .main__nav .search__form input {
  width: 100%;
}
header .main__nav .search__form button img {
  width: 24px;
  color: #fff;
}
header .main__nav .search__form.active {
  width: auto;
  overflow-x: auto;
}
header .main__nav .toggle {
  cursor: pointer;
  width: 2rem;
  z-index: 100;
}
header .main__nav .toggle > * {
  background-color: var(--secondary-body-color);
  height: 3px;
  width: 100%;
  margin: 6px 0;
  border-radius: 0.4rem;
  transition: var(--transition);
}
header .main__nav .toggle.active div:nth-child(1) {
  transform: translate(5px, 5px);
  rotate: 45deg;
}
header .main__nav .toggle.active div:nth-child(2) {
  opacity: 0;
}
header .main__nav .toggle.active div:nth-child(3) {
  transform: translate(5px, -5px);
  rotate: -45deg;
}
header .main__nav .main__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  position: absolute;
  top: 0;
  right: -75%;
  width: 75%;
  padding-top: 25%;
  height: 100vh;
  background: var(--secondary-bg);
  transition: var(--transition);
}
header .main__nav .main__menu a {
  color: var(--secondary-title);
}
header .main__nav .main__menu .signup-btn, header .main__nav .main__menu .login-btn {
  padding: 0.5rem 1rem;
  font-weight: 500;
}
header .main__nav .main__menu .signup-btn {
  background: var(--primary-title);
  color: var(--primary-bg);
}
header .main__nav .main__menu .login-btn {
  border-color: var(--primary-title);
}
header .main__nav .main__menu.active {
  right: 0;
}

a, p, label {
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
}

select {
  letter-spacing: 0.06rem;
  font-size: 1rem;
}

footer {
  background: var(--secondary-bg);
  padding: 2rem 0 0;
}
footer .news__letter {
  max-width: 32rem;
  margin: 2rem auto;
}
footer .news__letter h2 {
  max-width: 32rem;
  font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
  color: var(--primary-title);
}
footer .news__letter div {
  margin-top: 1rem;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
footer .news__letter div input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  border: none;
  color: var(--secondary-dark-color);
  outline: none;
}
footer .news__letter div .submit-btn {
  max-width: 8rem;
  color: var(--secondary-bg);
}
footer .page__navigation {
  margin: 2rem auto;
  padding: 1rem 0;
  max-width: 32rem;
}
footer .page__navigation .footer__menu li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
footer .page__navigation .footer__menu li div {
  width: 0.5rem;
  aspect-ratio: 1/1;
  opacity: 0.2;
  background: var(--secondary-body-color);
}
footer .page__navigation .footer__menu li a {
  color: var(--secondary-title);
}
footer .copyrights {
  text-align: center;
  background: var(--primary-bg);
  padding: 1rem;
  color: var(--primary-body-color);
  font-size: 0.875rem;
}
footer .copyrights a {
  color: #aaa;
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  footer .footer__menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (min-width: 800px) {
  header .main__nav .toggle {
    display: none;
  }
  header .main__nav .search__form {
    width: auto;
  }
  header .main__nav .main__menu {
    flex-direction: row;
    gap: 1rem;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    padding-top: 0;
    height: auto;
    background: transparent;
  }
  header .main__nav .main__menu a {
    color: var(--secondary-title);
  }
  header .main__nav .main__menu .signup-btn, header .main__nav .main__menu .login-btn {
    padding: 0.5rem 1rem;
    font-weight: 500;
  }
  header .main__nav .main__menu .signup-btn {
    background: var(--primary-title);
    color: var(--primary-bg);
  }
  header .main__nav .main__menu .login-btn {
    border-color: var(--primary-title);
  }
  footer .news__letter div {
    flex-direction: row;
  }
}
/* Forms */
.form__wrapper {
  display: grid;
  margin: 15% auto auto;
  gap: 1rem;
  width: 90%;
}
.form__wrapper .form__side {
  color: var(--primary-title);
  font-size: clamp(1.2rem, 1.2rem + 1vw, 3.5rem);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid rgba(216, 222, 233, 0.062745098);
}
.form__wrapper form {
  color: var(--secondary-title);
}
.form__wrapper form h1 {
  font-size: clamp(1.6rem, 1.5rem + 2vw, 4rem);
  margin-bottom: 4rem;
}
.form__wrapper form .category__selector select {
  min-width: 50%;
  padding: 0.6rem;
  color: var(--secondary-bg);
  border-radius: var(--radius);
  border: none;
}
.form__wrapper form .category__selector a {
  color: var(--secondary-title);
  background: var(--primary-bg);
  font-weight: 500;
  box-shadow: var(--shadow);
}
.form__wrapper form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}
.form__wrapper form label input, .form__wrapper form label textarea {
  width: 100%;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: var(--secondary-dark-color);
  border-radius: var(--radius);
  border: none;
  /*outline: 2px solid var(--primary-title);*/
}
.form__wrapper form .input__group {
  gap: 1rem;
  margin: 1rem 0;
}
.form__wrapper form .input__group span {
  opacity: 0.6;
}
.form__wrapper form .input__group a {
  text-decoration: underline;
  color: var(--primary-title);
  opacity: 0.6;
}
.form__wrapper form .submit-btn {
  color: var(--secondary-bg);
  background: var(--secondary-title);
  margin: 1rem 0;
}

@media screen and (max-width: 375px) {
  .input__group {
    display: block;
  }
  .flex__group {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .form__wrapper {
    margin-top: 10%;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .form__wrapper .form__side {
    justify-content: center;
    border: none;
    border-right: 4px solid rgba(216, 222, 233, 0.062745098);
    margin: 0;
  }
  .form__wrapper .form__side h1 {
    max-width: 12rem;
    margin: auto;
  }
  .form__wrapper .form__side .contact__title {
    max-width: 80%;
  }
  .form__wrapper form {
    margin-left: 1rem;
  }
  .form__wrapper form .input__group {
    display: block;
  }
  .form__wrapper form .flex__group {
    display: flex;
  }
  .form__wrapper .create__form {
    margin-left: 0;
  }
  .form__wrapper .create__form {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 950px) {
  .form__wrapper {
    padding: 4rem;
  }
  .form__wrapper form {
    margin-left: 3rem;
  }
  .form__wrapper form .input__group {
    display: flex;
  }
}

/*# sourceMappingURL=forms.css.map */
