

:root {
    --primary: #fff;
    --dark: #131212;
    --light: #aaaaaa;
    --main-title: #5e5e5e;
    --sub-title: #7d7d7d;
    --bg-blue: #001dd9;
    --gutter: 10px;
    --card-radius: 10px;
    --imag-radius: 24px;
    --parent-sm-padding: 16px;
    --child-sm-padding: 8px;
    --parent-md-padding: 24px;
    --child-md-padding: 12px;
    --parent-lg-padding: 32px 64px;
    --child-lg-padding: 16px 32px;
    --img-padding: 10px;
    --card-shadow: 1px 3px 10px #aaaaaa;
    --sub-title: 1.4em;
    
}






/*  RESETING    */
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    line-height: 1.5em;
    word-spacing: .1em;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 1em 0;
}
h2 {
    text-align: start;
    font-size: var(--sub-title);
    margin: 1em 0;
}

a {
    color: #000;
}

/*  PREDEFINING */
figure {
    margin: 0;
}
img {
    width: 100%;
    height: 100%;
}








/*  MOBILE FIRST    */

.container > * {
    position: relative;
    padding: var(--parent-sm-padding);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88px .5fr 1fr 128px 88px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer"
    ;    
    gap: 5px;
    /* height: 100vh; */
    /* background-color: #333; */
}    



/*  GROUP OF ELEMENTS THAT SHARE THE SAME TYPE OF DISPLAY   */
header,
.top-menu,

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header {
    grid-area: header;
    background-color: var(--bg-blue);
}
.logo {
height: 4em;
width: 10em;
}
.logo img {
height: 100%;
}
.top-menu {
    display: none;
}

#toggle {
    border: none;
    height: 28px;
    width: 28px;
    padding: 0;
}
#toggle img {
    width: 100%;
    height: 100%;
}
.top-menu li a {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2em;
}




/*  SIDENAV     */
.sidenav {
    grid-area: nav;
}
.sidenav > section {
    width: 100%;
    text-align: center;
    overflow: auto;
}





main {
    grid-area: main;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.content-wrap {
    margin-bottom: 2em;
}



aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    background-color: var(--bg-blue);
}




/*  MEDIUM SCREEN */

@media screen and (min-width: 620px) {
    .container {
        grid-template-areas: 
            "header header"
            "nav main"
            "aside aside"
            "footer footer"
            ;
            grid-template-columns: .75fr 1.5fr;
        grid-template-rows: 128px 1fr 160px 128px;
    }
    .container > * {
        padding: var(--parent-md-padding);
    }

    .sidenav > section {
        position: sticky;
        top: 1vh;
    }
    .side-menu {
        padding: 0;
        /* word-wrap: break-word; */
        overflow-x: auto;
    }
    .side-menu li {
        width: 100%;
        overflow: auto;
        margin: .5em 0;

    }
    
}



/*  LARGE SCREEN    */

@media screen and (min-width: 920px) {
    .container {
        grid-template-areas: 
            "header header header"
            "nav main aside"
            "footer footer footer"
        ;
        grid-template-columns: minmax(300px, .65fr) 1.5fr .5fr;
        grid-template-rows: 208px 1fr 208px;
    }

    header {
        justify-content: space-around;
    }
    
    .top-menu {
        display: flex;
    }
    .top-menu li {
        padding: .5em;
        margin: auto 1em;
    }
    #toggle {
        display: none;
    }
}






/*     ANIMATIONS   */

@keyframes liAnimator {
    25% {transform: translateX(-5px)}
    75% {transform: translateX(15px)}
    100% {
            transform: translateX(0px);

        }
}

/* 
li {
    transition: .4s all;
}
li:hover {
    animation-name: liAnimator;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
} */

