@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

p {
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  object-fit: cover;
}

pre {
  overflow: scroll;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #36344d;
}

h1 {
  margin-bottom: 3.2rem;
}

h2 {
  margin-bottom: 2.4rem;
}

:root {
  font-size: 62.5%;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

select,
textarea,
button {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 1.8rem);
  font-weight: 400;
}

label {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 1.8rem);
  font-weight: 600;
  letter-spacing: 0.5px;
}

input {
  font-size: clamp(1.4rem, 1.4rem + 1vw, 1.6rem);
  font-weight: 400;
}

button {
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.5rem + 2vw, 4.2rem);
  line-height: 1.15;
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 2rem + 2vw, 3rem);
  line-height: 1.25;
}

h3 {
  font-weight: 600;
  line-height: 1.3;
  font-size: clamp(1.8rem, 1.8rem + 2vw, 2.4rem);
}

h4,
h5,
h6 {
  font-size: clamp(1.7rem, 1.6rem + 2vw, 1.8em);
  font-weight: 600;
}

p,
a {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 1.8rem);
  font-weight: 400;
  line-height: 1.4;
}

form p,
form a {
  font-size: clamp(1.4rem, 1.5rem + 1vw, 1.6rem);
}

small {
  font-size: clamp(1.2rem, 1rem + 2vw, 1.5rem);
}

a.logo {
  font-size: clamp(2rem, 0.875rem + 2vw, 2.4rem);
}

a.view-all {
  font-size: clamp(1.8rem, 1.8rem + 2vw, 2rem);
  text-decoration: underline from-font dashed;
}

a.help {
  font-size: clamp(1.4rem, 1.4rem + 2vw, 1.6rem);
  text-decoration: underline from-font dashed;
}

.separator span {
  font-size: clamp(1.2rem, 1.2rem + 2vw, 1.4rem);
}

i {
  font-size: 1.6rem;
}

body {
  font-size: 1.6rem;
}

.post-info,
.post-details {
  font-weight: 300;
}
.post-info > *,
.post-info span > *,
.post-details > *,
.post-details span > * {
  font-size: clamp(1.2rem, 1.2rem + 1vw, 1.5rem);
}

header a {
  font-weight: 500;
}

.categories a {
  font-size: clamp(1.2rem, 1.2rem + 1vw, 1.4rem);
}

footer h4 {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 2rem);
}
footer ul a {
  font-size: clamp(1.4rem, 1.4rem + 1vw, 1.6rem);
}
footer .social-icons i {
  font-size: clamp(1.6rem, 1.4rem + 2vw, 1.8rem);
}

.main-content, aside, header, .card:hover, form {
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px -6px rgba(11, 43, 158, 0.1);
}
.main-content:hover, aside:hover, header:hover, .card:hover, form:hover {
  box-shadow: 0 10px 20px rgba(11, 43, 158, 0.1);
}

.btn,
button {
  padding: 0.8rem 3.2rem;
  display: inline-block;
  border: 1px solid transparent;
  background: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.btn:active,
button:active {
  box-shadow: 0 0 0 2px #c8bdea;
}
.btn.btn-primary,
button.btn-primary {
  background: #6747c7;
  color: #fff;
}
.btn.btn-primary:hover,
button.btn-primary:hover {
  background: #4829a6;
}
.btn.btn-secondary,
button.btn-secondary {
  border: 1px solid #6747c7;
}
.btn.btn-secondary:hover,
button.btn-secondary:hover {
  background: #6747c7;
  color: #fff;
}
.btn.btn-with-icon,
button.btn-with-icon {
  background: #f9fafe;
  color: #36344d;
  display: inline-flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8bdea;
}
.btn.btn-with-icon:hover,
button.btn-with-icon:hover {
  border: 1px solid;
}

form {
  padding: 1.6rem;
  border-radius: 1.6rem;
  margin-inline: auto;
  background: #fff;
  max-width: 768px;
}
@media screen and (min-width: 960px) {
  form {
    padding: 3.2rem 3.2rem;
  }
}
form.user-authentication {
  max-width: 500px;
}
form.user-authentication button {
  width: 100%;
  padding: 1.2rem 0.8rem;
}
form.user-authentication button.btn-primary {
  margin-bottom: 1.6rem;
}
form.user-authentication .inline-group {
  margin: 1.8rem 0 0;
}
form label {
  display: block;
  margin: 1.6rem 0 0.8rem;
}
form textarea {
  resize: none;
}
form select,
form input,
form textarea {
  padding: 1.2rem 0.8rem;
}
form input,
form textarea {
  width: 100%;
  border: 1px solid #e3def4;
  border-radius: 0.4rem;
  transition: all 0.2s ease;
}
form input::placeholder,
form textarea::placeholder {
  color: #9695a4;
}
form input:focus,
form textarea:focus {
  box-shadow: 0px 0px 0px 2px #6747c7;
}
form input[type=file],
form textarea[type=file] {
  max-width: 240px;
  width: 100%;
}
form input[type=file]::file-selector-button,
form textarea[type=file]::file-selector-button {
  background-color: none;
  border: 1px solid #e3def4;
  padding: 0.4rem;
  border-radius: 2px;
}
form input[type=checkbox],
form textarea[type=checkbox] {
  cursor: pointer;
}
form input[type=checkbox]:checked,
form textarea[type=checkbox]:checked {
  accent-color: #6747c7;
}
form select {
  width: 100%;
  background: #fff;
  border: 1px solid #e3def4;
  border-radius: 0.4rem;
}
form .inline-group {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0 0.8rem;
  gap: 0.8rem;
}
form .inline-group a.help,
form .inline-group p.help {
  display: block;
  color: #9695a4;
}
form .inline-group > * {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
}
form .inline-group > * > * {
  width: auto;
  margin: 0;
}
form .block-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.6rem;
}
form button {
  margin-top: 1.6rem;
}
form button.btn-primary {
  margin-top: 3.2rem;
}

.search-form {
  padding: 0.8rem 1.6rem;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  gap: 2.4rem;
  border: 1px solid #eee;
  background: #fff;
  max-width: 320px;
  width: 100%;
}
.search-form:focus-within {
  border: 1px solid #6747c7;
}
.search-form input[type=search] {
  padding: 0.4rem;
  border: none;
  background: none;
  transition: all 0.4s ease-in-out;
}
.search-form input[type=search]:focus {
  box-shadow: none;
}
.search-form i {
  color: #9695a4;
}

.separator {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin: 1rem 0;
}
.separator span {
  color: #9695a4;
}
.separator div {
  height: 2px;
  width: 100%;
  background: #e3def4;
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.2rem, 1fr));
  gap: 2.4rem;
}

.card-wrap-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

.card {
  padding: 0.8rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #e3def4;
  background: #fff;
  transition: all 0.3s ease;
}
.card a {
  margin: 0;
}
.card a img {
  border-radius: 0.4rem;
  max-height: 28.8rem;
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 0.8rem;
}
.card .post-info {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.8rem;
}
.card .post-info a {
  text-decoration: underline from-font;
}
.card .post-info a,
.card .post-info small,
.card .post-info span > * {
  color: #9695a4;
}
.card .post-info span {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card a {
  cursor: pointer;
  color: #6747c7;
}

.inline-card {
  padding: 0.4rem;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 4.8rem 1fr;
  gap: 0.8rem;
  align-items: center;
  box-shadow: none;
  border: 1px solid #e3def4;
}
.inline-card img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.4rem;
}

#toggle {
  min-width: 32px;
  cursor: pointer;
  z-index: 100;
}
#toggle > * {
  height: 3px;
  width: 100%;
  background-color: #36344d;
  margin: 4px 0;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}
#toggle.active div.first {
  transform: rotate(-45deg) translateY(8px);
}
#toggle.active div.middle {
  opacity: 0;
}
#toggle.active div.last {
  transform: rotate(45deg) translateY(-8px);
}

header {
  padding: 1rem;
  width: 100%;
  background: #fff;
  position: relative;
}
header nav {
  max-width: 1800px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-inline: auto;
  width: 100%;
}
header nav a {
  color: #36344d;
  cursor: pointer;
}
header nav a.logo, header nav a:hover, header nav a.active {
  color: #6747c7;
}
header nav ul {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  left: -110vw;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 90;
  background: #f9fafe;
  transition: all 0.4s ease;
}
header nav ul.active {
  left: 0;
}
header nav ul li {
  padding: 0.5rem 0;
}
header nav ul li.user-profile a {
  margin-left: 2rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
header nav ul li.user-profile a .profile-photo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
@media (min-width: 960px) {
  header nav #toggle {
    display: none;
  }
  header nav ul {
    gap: 2rem;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    background: none;
  }
  header nav ul li {
    padding: 0;
  }
}

footer {
  background: #36344d;
  margin-inline: 0;
}
footer .footer {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 960px) {
  footer .footer {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 2.4rem;
  }
  footer .footer .logo {
    grid-column: auto;
    justify-self: end;
  }
}
footer .footer h4 {
  color: #e3def4;
  margin-bottom: 1rem;
}
footer .footer ul {
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
footer .footer ul li {
  display: inline-flex;
  align-items: center;
}
footer .footer ul li::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  margin-right: 0.5rem;
  background: #e3def4;
}
footer .footer ul a {
  color: #e3def4;
}
footer .footer .social-media h4 {
  text-align: center;
}
footer .footer .social-media .social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer .social-media .social-icons a {
  display: block;
  padding: 0.5rem;
}
footer .footer .social-media .social-icons i {
  color: #e3def4;
}
footer .footer .logo {
  grid-column: 1/4;
  justify-self: center;
}
footer p {
  text-align: center;
  color: #e3def4;
  padding: 2rem 0;
  margin: 0 auto;
}

body {
  color: #53516b;
  background: #f9fafe;
}
@media (min-width: 960px) {
  body > * {
    padding: 3.2rem 4%;
  }
  body > * .section-wrap {
    padding: 0rem 4%;
  }
}
body .section-wrap {
  width: 100%;
}

.content-section {
  max-width: 1200px;
  margin-inline: auto;
  padding: 4.8rem 1.6rem 1.6rem;
}

.container-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  align-items: start;
}
.container-details > * {
  min-width: 0;
  min-height: 0;
}
@media (min-width: 960px) {
  .container-details {
    grid-template-columns: 1fr minmax(220px, 300px);
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 3.2rem auto;
}

ul {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul li {
  padding: 0.8rem;
}

.view-all {
  display: inline-block;
  margin-top: 2.4rem;
}

.categories {
  max-width: 960px;
  margin: 0 auto 3.2rem;
  padding: 2.4rem;
}
.categories nav {
  overflow-x: auto;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: safe center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  padding: 0.4rem 1.6rem;
}
.categories nav a {
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  background: #fff;
  color: #53516b;
}
.categories nav a.active, .categories nav a:hover {
  background: #e3def4;
  color: #36344d;
}
@media screen and (min-width: 960px) {
  .categories {
    display: none;
  }
}

.container-details > * {
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.main-content {
  background: #fff;
}
.main-content .post-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 260px;
  margin: 1.5rem auto;
}
.main-content h1 {
  text-align: center;
  max-width: 650px;
  margin-inline: auto;
}
.main-content h2 {
  margin: 2rem auto 1rem;
}
.main-content .thumbnail {
  margin: 2rem auto;
  max-width: 100%;
}
.main-content .thumbnail img {
  border-radius: 0.4rem;
  width: 100%;
  max-height: 25rem;
}
.main-content .code-block {
  min-height: 4rem;
  background: #53516b;
  border-radius: 0.4rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
}
.main-content .code-block > * {
  color: #fff;
}
.main-content ol li {
  margin: 0 2rem 1rem;
  list-style: disc;
}

aside {
  background: #fff;
}
aside h3 {
  margin-bottom: 1.5rem;
}
aside .card:hover {
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
