@use "../base" as *;

body {
  color: map-get($colors, "body");
  background: map-get($colors, "background");
  @media (min-width: $large) {
    & > * {
      @include padding(2rem, 4%);
      .section-wrap {
        @include padding(0rem, 4%);
      }
    }
  }
  .section-wrap {
    width: 100%;
  }
}

.content-section {
  max-width: $container-width;
  margin-inline: auto;
  padding: 3rem 1rem 1rem;
}

.container-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gutter;
  align-items: start;

  & > * {
    min-width: 0;
    min-height: 0;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr minmax(220px, 300px);
  }
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 2rem auto;
}

ul {
  @include display-flex(1rem, space-between);

  li {
    padding: 0.25rem;
  }
}
