@use "../base" as *;

body {
  color: map-get($colors, "body");
  background: map-get($colors, "background");
}

.section-wrap {
  width: 100%;
}

.content-section {
  max-width: $container-width;
  margin-inline: auto;
  padding: 3rem 1rem 1rem;
}

.container-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gutter;

  @media (min-width: $large) {
    grid-template-columns: 1fr minmax(240px, 320px);
  }
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: auto;
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: $gutter;
}

.card-wrap-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

ul {
  @include display-flex(1rem, space-between);

  li {
    padding: 0.25rem;
  }
}
