@use "../base" as *;

.btn,
button {
  @include padding(0.5rem, 2rem);
  display: inline-block;
  border: 1px solid transparent;
  background: none;
  border-radius: $radius;
  cursor: pointer;
  transition:
    background 0.2s ease,
    border 0.2s ease;

  &:active {
    box-shadow: 0 0 0 2px map-get($colors, "active");
  }

  &.btn-primary {
    @include btn-variant("primary", "white");
    &:hover {
      background: map-get($colors, "primary-variant");
    }
  }
  &.btn-secondary {
    border: 1px solid map-get($colors, "primary");
    &:hover {
      @include btn-variant("primary", "white");
    }
  }
  &.btn-with-icon {
    @include btn-variant("white", "text");
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid map-get($colors, "active");
    }
  }
}
