@use "../base" as *;

.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.2rem, 1fr));
  gap: $gutter;
}

.card-wrap-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

.card {
  @include corners($card-padding, 1.2rem);
  display: flex;
  flex-direction: column;
  border: 1px solid map-get($colors, "border");
  background: map-get($colors, "white");
  transition: all 0.3s ease;

  &:hover {
    @extend %box-shadow;
  }

  a {
    margin: 0;

    img {
      border-radius: 0.4rem;
      max-height: 28.8rem;
      width: 100%;
      aspect-ratio: 1/1;
      margin-bottom: 0.8rem;
    }
  }

  .post-info {
    @include display-flex(1.6rem);
    width: 100%;
    margin-bottom: 0.8rem;
    //border-bottom: 1px solid map-get($colors, "border");
    a {
      text-decoration: underline from-font;
    }
    a,
    small,
    span > * {
      color: map-get($colors, "placeholder");
    }

    span {
      @include display-flex(0.4rem);
    }
  }

  a {
    cursor: pointer;
    color: $primary;
  }
}

.inline-card {
  @include corners(0.4rem, 0.8rem);
  display: grid;
  grid-template-columns: 4.8rem 1fr;
  gap: 0.8rem;
  align-items: center;
  box-shadow: none;
  border: 1px solid map-get($colors, "border");

  img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 0.4rem;
  }
}
