@use "../base" as *;

form {
  @extend %box-shadow;
  padding: $padding;
  border-radius: $outer-radius;
  margin-inline: auto;
  background: map-get($colors, "white");
  max-width: $tablet;

  @media screen and (min-width: $large) {
    @include padding(2rem, 2rem);
  }

  &.user-authentication {
    max-width: 500px;
    button {
      width: 100%;
      @include padding(0.75rem, 0.5rem);
    }

    .inline-group {
      margin: 1.5rem 0 0;
    }
  }

  label {
    display: block;
    margin: 1rem 0 0.5rem;
  }
  textarea {
    resize: none;
  }
  select,
  input,
  textarea {
    @include padding(0.75rem, 0.5rem);
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid map-get($colors, "border");
    border-radius: $radius;
    transition: all 0.2s ease;

    &::placeholder {
      color: map-get($colors, "placeholder");
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $primary;
    }
    &[type="file"] {
      max-width: 240px;
      width: 100%;
      &::file-selector-button {
        background-color: none;
        border: 1px solid map-get($colors, "border");
        padding: 0.25rem;
        border-radius: 2px;
      }
    }
    &[type="checkbox"] {
      cursor: pointer;
      &:checked {
        accent-color: $primary;
      }
    }
  }

  select {
    width: 100%;
    background: map-get($colors, "white");
    border: 1px solid map-get($colors, "border");
    border-radius: $radius;
  }

  .inline-group {
    @include display-flex(0.5rem, space-between);
    margin: 1rem 0 0.5rem;
    gap: 0.5rem;

    a.help,
    p.help {
      display: block;
      color: map-get($colors, "placeholder");
    }

    & > * {
      @include display-flex(0.5rem);
      margin: 0;

      & > * {
        width: auto;
        margin: 0;
      }
    }
  }

  .block-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
  }

  button {
    &.btn-primary {
      margin-top: 2rem;
    }
    margin-top: 0.5rem;
  }
}

.search-form {
  @include padding(0.5rem, 1rem);
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  gap: 1.5rem;
  border: 1px solid #eee;
  background: map-get($colors, "white");
  max-width: 320px;

  width: 100%;

  &:focus-within {
    border: 1px solid map-get($colors, "primary");
  }

  input[type="search"] {
    padding: 0.25rem;
    border: none;
    background: none;
    transition: all 0.4s ease-in-out;
    &:focus {
      box-shadow: none;
    }
  }

  i {
    color: map-get($colors, "placeholder");
  }
}
