@use "../base" as *;

header {
  padding: 1rem;
  width: 100%;
  background: map-get($colors, "white");
  @extend %box-shadow;
  position: relative;

  nav {
    max-width: calc($container-width + $container-width * 0.5);
    @include display-flex(1.5rem, space-between);
    flex-wrap: nowrap;
    margin-inline: auto;
    width: 100%;

    a {
      color: map-get($colors, "title");
      cursor: pointer;
      &.logo {
        color: map-get($colors, "primary");
      }
    }

    ul {
      flex-direction: column;
      justify-content: center;
      position: fixed;
      left: -110vw;
      top: 0;
      height: 100vh;
      width: 100vw;
      z-index: 90;
      background: map-get($colors, "background");
      transition: all 0.4s ease;

      &.active {
        left: 0;
      }
    }

    @media (min-width: $large) {
      #toggle {
        display: none;
      }
      ul {
        flex-direction: row;
        position: static;
        height: auto;
        width: auto;
        background: none;
      }
    }
  }
}
