@use "../base" as *;

header {
  padding: 1rem;
  width: 100%;
  background: map-get($colors, "white");
  @extend %box-shadow;
  position: relative;

  nav {
    max-width: calc($container-width + $container-width * 0.5);
    @include display-flex(1.5rem, space-between);
    flex-wrap: nowrap;
    margin-inline: auto;
    width: 100%;

    a {
      color: map-get($colors, "title");
      cursor: pointer;
      &.logo,
      &:hover,
      &.active {
        color: map-get($colors, "primary");
      }
    }

    ul {
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      position: fixed;
      left: -110vw;
      top: 0;
      height: 100vh;
      width: 100vw;
      z-index: 90;
      background: map-get($colors, "background");
      transition: all 0.4s ease;

      &.active {
        left: 0;
      }

      li {
        padding: 0.5rem 0;

        &.user-profile a {
          margin-left: 2rem;
          display: inline-flex;
          gap: 1rem;
          align-items: center;

          .profile-photo {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
        }
      }
    }

    @media (min-width: $large) {
      #toggle {
        display: none;
      }
      ul {
        gap: 2rem;
        li {
          padding: 0;
        }
        flex-direction: row;
        position: static;
        height: auto;
        width: auto;
        background: none;
      }
    }
  }
}
