@use "../base" as *;

.separator {
  @include display-flex(0.8rem, space-between);
  flex-wrap: nowrap;
  margin: 1rem 0;

  span {
    color: map-get($colors, "placeholder");
  }

  div {
    height: 2px;
    width: 100%;
    background: map-get($colors, "border");
  }
}
