@use "variables" as *;

@mixin corners($padding, $radius) {
  padding: $padding;
  border-radius: $radius;
}

@mixin btn-variant($background, $text) {
  background: map-get($colors, $background);
  color: map-get($colors, $text);
}

@mixin padding($v: 0.5rem, $h: 0.5rem) {
  padding: $v $h;
}
