html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

p {
  margin-bottom: 1rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}
