@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500&display=swap");

:root {
  font-size: 62.5%;
}
* {
  font-family: "Nunito Sans", sans-serif;
}

select,
textarea,
button {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 1.8rem);
  font-weight: 400;
}

label {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 1.8rem);
  font-weight: 600;
  letter-spacing: 0.5px;
}

input {
  font-size: clamp(1.4rem, 1.4rem + 1vw, 1.6rem);
  font-weight: 400;
}

button {
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.5rem + 2vw, 4.2rem);
  line-height: 1.15;
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 2rem + 2vw, 3rem);
  line-height: 1.25;
}

h3 {
  font-weight: 600;
  line-height: 1.3;
  font-size: clamp(1.8rem, 1.8rem + 2vw, 2.4rem);
}

h4,
h5,
h6 {
  font-size: clamp(1.7rem, 1.6rem + 2vw, 1.8em);
  font-weight: 600;
}

p,
a {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 1.8rem);
  font-weight: 400;
  line-height: 1.4;
}

form {
  p,
  a {
    font-size: clamp(1.4rem, 1.5rem + 1vw, 1.6rem);
  }
}

small {
  font-size: clamp(1.2rem, 1rem + 2vw, 1.5rem);
}

a.logo {
  font-size: clamp(2rem, 0.875rem + 2vw, 2.4rem);
}
a.view-all {
  font-size: clamp(1.8rem, 1.8rem + 2vw, 2rem);
  text-decoration: underline from-font dashed;
}
a.help {
  font-size: clamp(1.4rem, 1.4rem + 2vw, 1.6rem);
  text-decoration: underline from-font dashed;
}

.separator {
  span {
    font-size: clamp(1.2rem, 1.2rem + 2vw, 1.4rem);
  }
}

i {
  font-size: 1.6rem;
}

body {
  font-size: 1.6rem;
}

.post-info,
.post-details {
  font-weight: 300;
  & > *,
  span > * {
    font-size: clamp(1.2rem, 1.2rem + 1vw, 1.5rem);
  }
}

header {
  a {
    font-weight: 500;
  }
}

.categories {
  a {
    font-size: clamp(1.2rem, 1.2rem + 1vw, 1.4rem);
  }
}

footer {
  h4 {
    font-size: clamp(1.6rem, 1.6rem + 1vw, 2rem);
  }

  ul a {
    font-size: clamp(1.4rem, 1.4rem + 1vw, 1.6rem);
  }
  .social-icons {
    i {
      font-size: clamp(1.6rem, 1.4rem + 2vw, 1.8rem);
    }
  }
}
