// VARIABLES
$gutter: 1.5rem;
$padding: 1rem;

$card-padding: 0.5rem;

$radius: 0.25rem;
$inner-radius: 0.5rem;
$outer-radius: 1rem;

$primary: #6747c7;
$primary-variant: #4829a6;

$colors: (
  "primary": #6747c7,
  "primary-variant": #4829a6,
  "title": #36344d,
  "body": #53516b,
  "placeholder": #9695a4,
  "border": #e3def4,
  "active": #c8bdea,
  "background": #f9fafe,
  "white": #fff,
  "light-gray": #f0f0f0,
);

// BREAKPOINTS
$mobile: 500px;
$tablet: 768px;
$large: 996px;
$container-width: $large;
