<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/forms.css" rel="stylesheet">
    </head>
    <body>


    <section class="form size__control form__wrapper section__wrapper">
        <div class="form__side flex__display">
            <h1 class="contact__title">Tell us about your experience being here.</h1>
        </div>

        <form class="form">
            
            <label for="name">
                Name  
                <input type="text" name="name" id="name" required placeholder="Minux Developer">
            </label>

            <label for="email">
                Email 
                <input type="email" name="email" id="email" required placeholder="minux@dev.com">
            </label>

            <label for="email">
                Message 
                <textarea rows="10" placeholder="Message..." required></textarea>
            </label>
            
            <input type="submit" class="btn submit-btn" value="Send">

        </form>

    </section>


    </body>
</html>

