<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create New Post</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/forms.css" rel="stylesheet">
    </head>
    <body>
    
    </body>
</html>



    <section class="form size__control form__wrapper">

        <!-- Form-->
        <form method="post" class="create__form">
            <h1 data-sal="slide-up" data-sal-duration="600">Create your post here</h1>
            <label for="cat0">
                <div class="category__selector flex__display section__wrapper">
                    <select name="category">
                        <option value="python">Python</option>
                        <option value="djago">PHP</option>
                        <option value="python">CSS</option>
                        <option value="python">HTML5</option>
                    </select>
                    <a class="btn" href="#">Add New</a>
                </div>
            </label>

            <div class="section__wrapper">
                <label for="title">
                    Title 
                    <input type="text" name="title" required placeholder="Title">
                </label>

                <label for="content">
                    Content
                    <textarea name="content" rows="10" placeholder="Message"></textarea>
                </label>

                <input type="submit" class="btn submit-btn" value="Submit">
            </div>

        </form>
    </section>


