<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/home.css" rel="stylesheet">
    </head>
    <body>


    <!-- Home -->
    <section class="user__info size__control">
        <div class="user__info__wrapper flex__display section__wrapper">
            <div class="info">
                <h1>Username</h1>
                <div class="horizontal__line"></div>
                <ul class="flex__display">
                    <li><a href="#">Progress</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            <a href="#">
                <img class="user__image" src="../images/undraw_coding_re_iv62.svg" alt="">
            </a>
                
        </div>
    </section>


    <section class="banner size__control">
        <div class="banner__content">
            <h1>Learn tecnology in a simplest way with our paid courses.</h1>
            <a href="#" class="btn banner">Read More...</a>
        </div>

        <div></div>
    </section>

    <main class="main size__control">
        
        <section class="main__content">
            <div class="category__selector flex__display section__wrapper">
                <select name="category">
                    <option value="python">Python</option>
                    <option value="djago">PHP</option>
                    <option value="python">CSS</option>
                    <option value="python">HTML5</option>
                </select>
                <a class="btn" href="#">Show</a>
            </div>

            <ul class="content">
                <li class="section__wrapper"><a href="#">Lorem ipsum dolor sit amet, qui mi maias shoradt.</a>
                    <p>Sunday, January 29th 2023</p>
                </li>
                <li class="section__wrapper"><a href="#">Lorem  ipsum lorem sit amet, qui mi maias shoradt dolor sit amet, qui mi maias shoradt.</a>

                    <p>Sunday, January 29th 2023</p>
                </li>
                <li class="section__wrapper"><a href="#">Lorem  ipsum lorem sit amet, qui mi maias shoradt dolor sit amet, qui mi maias shoradt Lorem  ipsum lorem sit amet, qui mi maias </a>

                    <p>Sunday, January 29th 2023</p>
                </li>
                <li class="section__wrapper"><a href="#">Lorem ipsum dolor sit amet, qui mi maias shoradt.</a>

                    <p>Sunday, January 29th 2023</p>
                </li>
                <li class="section__wrapper"><a href="#">Lorem  ipsum lorem sit amet, qui mi maias shoradt dolor sit amet, qui mi maias shoradt Lorem  ipsum lorem sit amet, qui mi maias </a>

                    <p>Sunday, January 29th 2023</p>
                </li>
                <li class="section__wrapper"><a href="#">Lorem  ipsum lorem sit amet, qui mi maias shoradt dolor sit amet, qui mi maias shoradt.</a>

                    <p>Sunday, January 29th 2023</p>
                </li>

            </ul>

        </section>
    </main>

    
    </body>
</html>




