<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/forms.css" rel="stylesheet">
    </head>
    <body>


    <section class="form size__control form__wrapper section__wrapper">
        <div class="form__side flex__display">
            <h1>Login</h1>
        </div>

        <form class="form">
            
            <label for="username">
                Username 
                <input type="text" name="username" id="username" required placeholder="MinuxDev">
            </label>

            <label for="password">
                Password 
                <input type="password" name="password" id="password" required placeholder="MinuxDev">
            </label>
            
            <div class="input__group flex__display flex__group">
               <input type="checkbox" name="remember"> 
               Remeber Me
            </div>

            <input type="submit" class="btn submit-btn" value="Submit">

            <div class="input__group flex__display flex__group">
                <span>Don't have an account?</span>
                <a href="signup.html">Sign Up</a>
            </div>

        </form>

    </section>


    </body>
</html>

