<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IE - Informatica e Electricidade</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <!--Header-->
    <header>
        <nav class="top-nav">
            <div class="logo">
                <a href="#">IE.LDA</a>
            </div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">Sobre Nos</a></li>
                <li><a href="#">Servicos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
            <div id="toggle">
                <div class="t-1"></div>
                <div class="t-2"></div>
                <div class="t-3"></div>
            </div>
        </nav>
    </header>
    <!--Banner-->
    <section class="banner">
        <div class="section">
            <h1>IE.LDA</h1>
            <p>Aqui podera saber um pouco mais sobre nos, o que fazemos e por que fazemos o que fazemos! Em caso de duvidas, sinta-se livre para nos contactar que a nossa equipe estara 100% a sua disposicao.</p>
            <a href="#" class="card-btn">Fale conosco</a>
        </div>
    </section>