<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/forms.css" rel="stylesheet">
    </head>
    <body>


    <section class="form size__control form__wrapper section__wrapper">
        <div class="form__side flex__display">
            <h1>Create Account</h1>
        </div>

        <form class="form">
            
            <label for="username">
                Username 
                <input type="text" name="username" id="username" required placeholder="MinuxDev">
            </label>

            <label for="email">
                Email 
                <input type="email" name="email" id="email" required placeholder="minux@dev.com">
            </label>

            <div class="input__group flex__display">
            
                <label for="password">
                    Password 
                    <input type="password" name="password" id="password" required placeholder="@M!n#53.">
                </label>

                <label for="confirm">
                    Confirm Password 
                    <input type="password" name="confirm_password" id="confirm" required placeholder="@M!n#53.">
                </label>
                
            </div>

            <div class="input__group flex__display flex__group">
               <input type="checkbox" name="remember"> 
               Check the box to accept our terms and conditions!
            </div>

            <input type="submit" class="btn submit-btn" value="Submit">

            <div class="input__group flex__display flex__group">
                <span>Already registered?</span>
                <a href="login.html">Login!</a>
            </div>

        </form>

    </section>


    </body>
</html>

